.header {
    margin-top: 50px;
    text-align: center;
    font-size: 31px;
}
.body-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 30px 0px;
    .title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: grey;
    }
    .body {
        margin: 10px 15px;
        padding: 10px;
        min-height: 650px;
        max-height: 650px;
        overflow: auto;
        >div {
            margin-bottom: 10px;
            position: relative;
            :hover .rocket{
                display: block;
            }
        }
    }
}


.rocket {
    position: absolute;
    right: 15px;
    bottom: 10px;
    display: none;
    &:hover {
        cursor: help;
    }
}

.myAlert {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 1000;
}

.details {
    margin: 30px;
}

.modal {
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    .modalContent {
        margin: 15% auto;
        padding: 20px;
    }
    .close {
        display: grid;
        grid-template-columns: 90% 10%;
        font-weight: 600;
        padding: 5px;
        text-align: center;
        >div {
            padding-top: 10px;
        }
    }
}